/*차트부분*/
#all-body{
    width: 100%;
    height: 100%;
    display: flex;
}

canvas{
    background-color: white;
}

#all-chart-body{
    width: 50%;
    height: 100%;
}

#chart-circle-body,#chart-bar-body{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.canvas-body{
   width: 45%;
   height: 350px;
}
/*차트부분끝*/

/*맵부분*/
#map-body{
    width: 50%;
    background-color: rgb(128, 128, 128);
}
/*맵부분끝*/


/*테이블부분*/
#table-body{
    width: 100%;
    height: 250px;
    background: rgb(255, 172, 172);
}
/*테이블부분끝*/