/*차트부분*/
#all-body{
    width: 100%;
    height: 100%;
    display: flex;
}

canvas{
    background-color: white;
}

#all-chart-body{
    width: 50%;
    height: 100%;
}

#chart-circle-body,#chart-bar-body{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
}
#chart-circle-body{
    padding-top: 20px;
}
#chart-bar-body{
    padding-bottom: 20px;
}

.canvas-body{
   width: 48%;
   height: 350px;
}
/*차트부분끝*/

/*맵부분*/
#map-body{
    width: 50%;
    background-color: rgb(128, 128, 128);
}
/*맵부분끝*/


/*테이블부분*/
#table-body{
    width: 100%;
    height: 200px;
    background: rgb(255, 255, 255);
}

table{
    width: 100%;
    height: 100%;
    display: flex;
    border-collapse:collapse;
    border: solid 1px rgb(182, 182, 182);
   
}

tbody{
    width: 100%;
    
}
tr{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 50%;

   
}
th,td{
    width: 16.66%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(182, 182, 182);
    font:normal 20px 'Noto Sans';
    border-collapse:collapse;
 
    
    
}

td{
    font-size: 18px;
}

th{
    font-weight: bold;
}

.table-title{
    background-color: #f8f8f8;
}

/*테이블부분끝*/