#all-body{
    width: 100%;
    height: 100%;
    display: flex;
}

canvas{
    background-color: white;
}

#map-body{
    width: 50%;
    background-color: yellow;
}

#all-chart-body{
    width: 50%;
    height: 100%;
}

#chart-circle-body,#chart-bar-body{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.canvas-body{
   width: 32%;
}


.pie{
  width: 32%;
  height: 450px;
}

.horizontal{
   width:45%;
   height: 450px;

}
.line{
    width: 45%;
    height: 450px;
}
