#all-body{
    width: 100%;
    height: 100%;
    display: flex;
}

canvas{
    background-color: white;
}

#map-body{
    width: 50%;
    background-color: yellow;
}

#all-chart-body{
    width: 50%;
    height: 100%;
}

#chart-circle-body,#chart-bar-body{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.canvas-body{
   width: 45%;
   height: 350px;
}